# Byte-compiled files
*.pyc
__pycache__/

# Virtual environment
env/
venv/
.venv/

# Logs
*.log

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
